# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BTD.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\noste\OneDrive\Desktop\Unreal Engine 4 Projects\BTD\.idea\.idea.BTD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
